<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Contact Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Contact Details</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/save}" th:object="${contact}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="parentid" class="col-form-label">Name </label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="parentid" placeholder="Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="serviceName" class="col-form-label">Phone Number</label>
                            <input type="text" th:field="*{phoneNumber}" class="form-control"
                                   id="serviceName" placeholder="Phone Number" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit">
                        </div>
                        <input type="hidden" id="id" th:field="*{id}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>